<div class='restaurant'>
  <h3>{{this.name}}</h3>
  <img src='{{this.imagelink}}' alt='{{this.name}}' />
  <div class='promo-blocks__actions'>
    <a href='/restaurants/{{this.id}}' class='anchor--button'>
      View
    </a>
    <a
      href='/restaurants/{{this.id}}/edit'
      data-id='{{this.id}}'
      class='anchor--button'
    >
      Edit
    </a>
    <button type='button' data-id='{{this.id}}'>
      Delete
    </button>
  </div>
</div>